services:
  mysql:
    image: mysql:9.5.0
    platform: linux/arm64
    container_name: shop_mysql
    command: --max_allowed_packet=256M
      --innodb_buffer_pool_size=512M
      --innodb_file_per_table=1
      --skip-log-bin
    environment:
      - MYSQL_ROOT_PASSWORD=yu71
      - MYSQL_DATABASE=shopDB
      - MYSQL_USER=yu71
      - MYSQL_PASSWORD=53cret
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: yu71
    ports:
      - "8082:80"
volumes:
  mysql_data:
